!!! 5
%html{ :lang => "en"}
  %head
    %title= "databasedotcom-oauth2"
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1"}
    %link{ :href => url("/jquery.mobile-1.1.0.css"), :media => "screen", :rel => "stylesheet", :type => "text/css" }
    %script{ :src => url("/jquery-1.7.2.js")}
    %script{ :src => url("/jquery.mobile-1.1.0.js")}
    %link{:rel => "stylesheet", :type => "text/css", :href => url("/style.css")}
  %body
    #page{:"data-role" => "page", :"data-title" => "databasedotcom-oauth2"}
    #dialog{ :"data-role" => "dialog"}
      #header{ :"data-role" => "header", :"data-theme" => "d"}
        %h1 Authentication Required
      #content{ :"data-role" => "content", :"data-theme" => "c"}
        %form{:action=>"#{url}", :"data-ajax"=>"false", :method=>"get", :id=>"authenticate_form", :name=>"authenticate_form"}
          %input{:type => "hidden", :name => "state", :id => "state", :value =>"#{state}"}
            #terms{:class => "ui-body ui-body-c"}
              -# INCLUDING TERMS via yield
              = yield
            %a{:id => "terms-link", :href => url("/terms"), :target => "_blank"} open in new window
          %label
            %input{:type => "checkbox", :name => "terms", :id => "terms", :class => "custom", :checked => false}
            I Agree
          #terms_validation_error{:class =>"ui-body ui-body-e ui-body-message", :style => "display: none;"}
            %p Please select "I Agree"
          %button{:id => "login_button", :type=>"submit"} Login via salesforce.com
          %div{:class => "ui-body"}
            %div{:"data-role" => "collapsible", :"data-collapsed" => "true", :"data-content-theme" => "d"}
              %h3 Authentication Options
              %p
                %div{:"data-role" => "fieldcontain"}
                  %fieldset{:"data-role" => "controlgroup"}
                    %legend Environment
                    %label
                      %input{:type => "radio", :name => "endpoint", :id => "endpoint", :value => "login.salesforce.com", :checked => true}
                      login.salesforce.com
                    %label
                      %input{:type => "radio", :name => "endpoint", :id => "endpoint", :value => "test.salesforce.com"}
                      test.salesforce.com
                  %div{:"data-role" => "fieldcontain"}
                    %label{:for => "options[immediate]"} My Domain URL
                    %input{:type => "text", :name => "mydomain", :id => "mydomain"}
:javascript
  $(document).bind("mobileinit", function(){
    $.mobile.ajaxEnabled = false;
  });
  $( document ).delegate("#page", "pageinit", function() {
    $.mobile.changePage("#dialog", {transition: "fade"});
    $('#login_button').click(function(event) {
      var checked = $("#terms:checked").length > 0;
      $("#terms_validation_error").toggle(!checked);
      if(!checked) event.preventDefault();
    });
  });
